@font-face {
  font-family: "Hubballi";
  src: url("./assets/Hubballi-Regular.ttf");
}

@font-face {
  font-family: "Source Code Pro Regular";
  src: url("./assets/SourceCodePro-Regular.ttf");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --typeface-primary: Hubballi;
  --typeface-secondary: Source Code Pro Regular;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.hovering {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: all 0.4s ease-out;

  .modal-contents {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    background-color: rgba(68, 68, 68, 0.8);
    position: relative;
    padding: 3rem;

    @media (orientation: portrait) {
      flex-direction: column;
    }
  }

  .modal-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    max-width: 800px;
    color: white;
    overflow: hidden;
    padding: 3rem 2rem;
    height: 100%;
    z-index: 2;
    gap: 1em;
  }

  .modal-media {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15vw;
    padding: 3rem 2rem;
    z-index: 1;

    video {
      width: 100%;
    }

    @media (orientation: portrait) {
      height: 30vh;
      width: initial;
      padding: 0;

      video {
        width: initial;
        height: 100%;
      }
    }
  }

  .modal-title {
    font-family: var(--typeface-primary);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    line-height: 1;
    width: 90%;
    text-align: start;

    @include media($break-sm) {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;
    z-index: 2;
    position: relative;
    gap: 1em;
  }

  .modal-text,
  .modal-subheader,
  .modal-link {
    font-family: var(--typeface-secondary);
    font-size: 1.25rem;
    text-align: left;

    a {
      color: aqua;
      text-decoration: underline;
      transition: all 0.1s ease-out;

      &:hover {
        color: skyblue;
      }
    }

    &.skinny {
      margin: 0;
    }
  }

  .modal-subheader {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .modal-link {
    text-decoration: underline;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .modal-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
  }

  img.modal-banner {
    object-fit: contain;
  }

  .modal-link-over-banner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    height: 75px;
    margin: 1rem 0;

    &.half {
      width: 40%;
    }
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid transparent;
      background-color: transparent;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transition: all 0.1s ease-out;

      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    span {
      color: white;
      font-size: 2rem;
      transition: all 0.1s ease-out;
    }
  }
}
